networks:
  proxy:
    external: true

services:
  scrutiny:
    image: ghcr.io/analogj/scrutiny:latest  # was master-omnibus@sha256:a53021b1d74fb3c63a81f9f9272bafffd4bdfdc43bd19ac9b60c57185a63fe04
    container_name: scrutiny
    restart: unless-stopped
    cap_add:
      - SYS_RAWIO
    environment:
      - TZ=Europe/Berlin
      - SCRUTINY_COLLECTOR=true
      - SCRUTINY_LOG_LEVEL=info
    volumes:
      - /run/udev:/run/udev:ro
      - ./internals/scrutiny/config:/opt/scrutiny/config
      - ./internals/scrutiny/influxdb:/opt/scrutiny/influxdb
    devices:
      - "/dev/sda"
      - "/dev/sdb"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.scrutiny.rule=Host(`scrutiny.home`)"
      - "traefik.http.routers.scrutiny.entrypoints=websecure"
      - "traefik.http.routers.scrutiny.tls=true"
      - "traefik.http.routers.scrutiny.service=scrutiny-svc"

      # Service
      - "traefik.http.services.scrutiny-svc.loadbalancer.server.port=8080"
      - "traefik.http.services.scrutiny-svc.loadbalancer.server.scheme=http"

      - "com.centurylinklabs.watchtower.enable=true"
