version: "3.9"

services:
  backup-mount-guard-samba:
    image: busybox:1.36
    container_name: backup-mount-guard-samba
    restart: unless-stopped
    command:
      - sh
      - -c
      - |
        while true; do
          if [ -d /mnt/backup ]; then
            touch /mnt/backup/.mounted
          fi
          sleep 300
        done
    volumes:
      - /srv/backup/A:/mnt/backup:ro
    healthcheck:
      test: ["CMD-SHELL", "test -f /mnt/backup/.mounted"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
    network_mode: none

  samba:
    image: dockurr/samba:latest
    container_name: samba
    restart: unless-stopped

    depends_on:
      backup-mount-guard-samba:
        condition: service_healthy

    ports:
      - "445:445"

    environment:
      USER: samba
      PASS: "${SAMBA_PASSWORD}"
      UID: "1000"
      GID: "1000"

    volumes:
      # Daten
      - /srv/backup/A:/storage/backup
      - /srv/backup/A/paperless/consume/scanner:/storage/paperless-consume
      - /srv/backup/A/paperless/media:/storage/paperless-media:ro

      # smb.conf aus deinem conf/-Ordner
      - ./conf/smb.conf:/etc/samba/smb.conf:ro

      # Mount-Guard
      - /srv/backup/A:/mnt/backup:ro

    healthcheck:
      test: ["CMD-SHELL", "test -f /mnt/backup/.mounted"]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 15s

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
