volumes:
  etc_wireguard:

services:
  wg-easy:
    environment:
      WG_HOST: ${WG_HOST:-192.168.178.69}
      WG_PORT: ${WG_PORT:-51820}
      WG_DEFAULT_DNS: ${WG_DEFAULT_DNS:-192.168.178.69}
      WG_ALLOWED_IPS: ${WG_ALLOWED_IPS:-0.0.0.0/0}
      DISABLE_IPV6: true
    #  Optional:
  #    - PORT=51821
 #     - HOST=0.0.0.0
#      - INSECURE=false

    image: ghcr.io/wg-easy/wg-easy:15 #@sha256:3387358e2ef11bb9f9b9209f27f6eb671c7642b9ec8d5027ed3a73578454100b  # version 15
    container_name: wg-easy
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
      proxy: {}
#        ipv4_address: 172.19.0.3
    volumes:
      - etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      # - NET_RAW # ⚠️ Uncomment if using Podman
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wg-easy.tls=true"
      - "traefik.http.routers.wg-easy.rule=Host(`wg.home`)"
      - "traefik.http.routers.wg-easy.entrypoints=websecure"
      - "traefik.http.routers.wg-easy.service=wg-easy"
      - "traefik.http.services.wg-easy.loadbalancer.server.port=51821"
      - "traefik.http.routers.wg-easy-http.rule=Host(`wg.home`)"
      - "traefik.http.routers.wg-easy-http.entrypoints=web"
      - "traefik.http.routers.wg-easy-http.middlewares=wg-easy-redirect"
      - "traefik.http.routers.wg-easy-http.service=wg-easy"
      - "traefik.http.middlewares.wg-easy-redirect.redirectscheme.scheme=https"
      - "traefik.docker.network=proxy"

      - "com.centurylinklabs.watchtower.enable=true"
networks:
  wg:
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
  proxy:
    external: true
    name: proxy
