services:
  samba:
    image: dockurr/samba:latest  # was 4.21.6@sha256:7c91e785eae88bf257ec897fb868007b3c2c60232f14e9e47954a83bda894d77
    container_name: samba
    environment:
      NAME: "${SAMBA_SHARE_NAME}"
      USER: "${SAMBA_USER}"
      PASS: "${SAMBA_PASSWORD}"
      UID: "1000"
      GID: "1000"
      RW: "true"
    ports:
      - "445:445"
    volumes:
      - /srv/backup/A/:/storage
    restart: always

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
